<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="assets/favicon.png" />
    <title>Depot</title>
    <style>
        table, th, td {
            padding: 5px;
            text-align: center;
            border: 1px solid black;
            border-collapse: collapse;
        }

        thead {
            font-weight: bold;
        }
    </style>
</head>
<body>
<h1>Depot</h1>
{{if .Jobs}}
<table>
    <thead>
    <tr>
        <td>Job</td>
        <td>Files</td>
        <td>Zip</td>
    </tr>
    </thead>
    <tbody>
    {{range .Jobs}}
        <tr>
            <td>{{.}}</td>
            <td><a href="/jobs/{{.}}/">Link</a></td>
            <td><a href="/zip?id={{.}}">Link</a></td>
        </tr>
    {{end}}
    </tbody>
</table>
{{else}}
<p>There are currently no jobs to display</p>
{{end}}
<h2>GET</h2>
<pre>'/jobs/{job}/{filepath}' to view a file or directory</pre>
<pre>'/zip?id={job}' to stream a zipped copy of a job's contents</pre>
<h2>PUT</h2>
<pre>'/jobs/{job}/{filepath}' to upload a file</pre>
</body>
</html>
